@import "../css/commun.css";
@import "../css/awesomplete.css";

:root {
  --couleur-total: rgb(0, 0, 0);
  --couleur-attendus: rgb(80, 80, 80);
  --couleur-parc: rgb(255, 185, 120);
  --couleur-charges: rgb(100, 200, 80);
}

/* FILTRE */

#bandeau-filtre {
  position: sticky;
  top: 0;
  left: 0;
  padding-left: 100px;
  background-color: white;
  z-index: 2;
}

#bandeau-filtre legend {
  cursor: pointer;
}

.champs-filtre {
  display: none;
}

#checkbox-filtre:checked + .champs-filtre {
  display: block;
}

#bandeau-filtre .filtre_actif {
  background-color: rgb(255, 210, 210);
}

#bandeau-filtre .filtre_actif .awesomplete {
  background-color: rgb(255, 255, 255);
}

#bandeau-filtre .filtre_bloc:not(:first-child) {
  margin-left: 2%;
}

#bandeau-filtre .bouton {
  margin: 25px 0 5px 0;
}

form[name="filtre"] {
  padding: 10px;
}

/* BOUTON REGISTRE */

#bouton-registre {
  display: inline-block;
  position: fixed;
  right: 50px;
  top: 15px;
  z-index: 1;
}

#bouton-registre a {
  color: #aaa;
}

#bouton-registre a:hover {
  color: #666;
}

/* BANDEAU */

.bandeau-info {
  width: 100%;
  position: sticky;
  top: 50px;
  z-index: 1;
  margin-left: 50px;
}

.ligne-bandeau-info {
  padding: 5px;
}

/* PLACEHOLDERS */

.placeholder-date {
  margin-top: 30px;
  margin-bottom: 15px;
}

.placeholder-date div {
  display: inline-block;
  height: 1.3em;
  background-color: #ddd;
  margin-right: 1%;
}

.placeholder-rdv {
  padding: 5px 0 0 5px;
}

.placeholder-rdv div {
  display: inline-block;
  height: 1.2em;
  background-color: #eee;
  margin-right: 1%;
}

/* LISTE RDV */

main {
  width: 95%;
  margin: auto;
  margin-bottom: 6rem;
}

.date {
  color: rgb(88, 200, 95);
  margin-top: 30px;
  margin-bottom: 15px;
}

.rdv,
.rdv-attente {
  padding: 5px 0 0 5px;
  align-items: baseline;
}

.rdv.arrive {
  background-color: rgb(255, 225, 140);
}

.rdv.parti {
  background-color: rgb(215, 255, 200);
}

.rdv:hover,
.rdv-attente:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.rdv:hover .copie-modif-suppr,
.rdv-attente:hover .copie-modif-suppr {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  font-weight: normal;
  white-space: pre;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* .heure, */
/* .horloge, */
.chargement-client-livraison,
.transporteur,
.affreteur,
.fournisseur,
.numero_bl,
.commentaire {
  margin-left: 5px;
}

.heure {
  font-weight: bold;
  color: #d91ffa;
  text-align: center;
}

.horloge {
  color: rgb(160, 160, 160);
  display: none;
  text-align: center;
}

.horloge:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
}

.chargement-client-livraison:hover .tooltip-livraison {
  visibility: visible;
  font-size: 0.8em;
}

.role {
  color: rgb(100, 100, 100);
  margin-right: 0.4em;
}

.affreteur[data-lie_agence="1"] {
  color: blue;
}

.transporteur {
  font-weight: bold;
}

.tooltip-transporteur {
  font-size: 0.8em;
}

.transporteur:hover .tooltip-transporteur {
  visibility: visible;
}

.numero_bl:hover {
  border: 1px solid #555;
  background-color: rgba(0, 0, 0, 0.1);
}

.commentaire_cache {
  color: rgb(100, 100, 100);
}

hr {
  border: 1px solid #999;
  border-top: none;
  margin: 5px 0px 0px -5px;
  width: 100vw;
}

.rdv:last-child hr {
  visibility: hidden;
}

/* Confirmation d'affrètement */
.confirmation_affretement {
  visibility: hidden;
}

.confirmation_affretement[data-affreteur_agence="1"] {
  visibility: visible;
}

.confirmation_affretement i {
  position: relative;
}

.confirmation_affretement:hover {
  cursor: pointer;
}

.confirmation_affretement i::after {
  position: absolute;
  font-family: "Material Icons";
  content: "close";
  color: red;
  font-size: 24px;
  left: 15px;
}

.confirmation_affretement[data-confirme="1"] i::after {
  position: absolute;
  font-family: "Material Icons";
  content: "check";
  color: green;
  font-size: 24px;
  left: 15px;
}

/* Affichage des horloges */
.rdv:not(.arrive):not(.parti):hover .horloge {
  display: inline-block;
}

.rdv:not(.arrive):not(.parti):hover .heure {
  display: none;
}

.rdv.arrive:hover .horloge-depart {
  display: inline-block;
}

.rdv.arrive:hover .heure-depart {
  display: none;
}

/* CAMIONS */

.date,
.camions-stats {
  display: inline-block;
}

.camions-stats {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 6px;
}

.camions-stats .total,
.camions-stats .attendus,
.camions-stats .sur_parc,
.camions-stats .charges {
  margin: 0 5px;
  font-weight: bold;
}

.camions-stats .total,
.camions-stats .total .tooltip-camions {
  color: var(--couleur-total);
}

.camions-stats .total .tooltip-camions {
  border-color: var(--couleur-total);
}

.camions-stats .total .tooltip-camions::after {
  border-color: var(--couleur-total) transparent transparent transparent;
}

.camions-stats .attendus,
.camions-stats .attendus .tooltip-camions {
  color: var(--couleur-attendus);
}

.camions-stats .attendus .tooltip-camions {
  border-color: var(--couleur-attendus);
}

.camions-stats .attendus .tooltip-camions::after {
  border-color: var(--couleur-attendus) transparent transparent transparent;
}

.camions-stats .sur_parc,
.camions-stats .sur_parc .tooltip-camions {
  color: var(--couleur-parc);
}

.camions-stats .sur_parc .tooltip-camions {
  border-color: var(--couleur-parc);
}

.camions-stats .sur_parc .tooltip-camions::after {
  border-color: var(--couleur-parc) transparent transparent transparent;
}

.camions-stats .charges,
.camions-stats .charges .tooltip-camions {
  color: var(--couleur-charges);
}

.camions-stats .charges .tooltip-camions {
  border-color: var(--couleur-charges);
}

.camions-stats .charges .tooltip-camions::after {
  border-color: var(--couleur-charges) transparent transparent transparent;
}

/* Décompte camions + tooltip */
.camions-stats .total,
.camions-stats .attendus,
.camions-stats .sur_parc,
.camions-stats .charges {
  position: relative;
  display: inline-block;
}

.tooltip-camions {
  visibility: hidden;
  background-color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 100px;
  bottom: 130%;
  left: 50%;
  margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip-camions::after /* Flêche du tooltip */ {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
}

.camions-stats .total:hover .tooltip-camions,
.camions-stats .attendus:hover .tooltip-camions,
.camions-stats .sur_parc:hover .tooltip-camions,
.camions-stats .charges:hover .tooltip-camions {
  visibility: visible;
}

/* RDV en attente */

.rdv-attente {
  color: #555;
}

.rdv-attente .date-rdv {
  margin-left: 5px;
}

@media screen and (max-width: 480px) {
  #bandeau-filtre {
    width: 60%;
    padding: 0;
    margin: auto;
  }

  .filtre_bloc {
    margin-left: 0;
  }

  #bouton_registre {
    display: none;
  }

  .numero_bl,
  .confirmation_affretement {
    display: none;
  }

  #bandeau-filtre .bouton {
    margin: 3px auto;
  }
}
