@import "../css/commun.css";

@import "../css/formulaire.css";

main {
  width: 90%;
  margin: auto;
}

#qualites {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#ajouter-qualite:hover {
  cursor: pointer;
}
