/* GENERAL */

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* BANDEAU INFO */

.bandeau-info {
  width: 100vw;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.ligne-bandeau-info {
  padding: 10px 20px;
  font-size: 1.5em;
}

/* ARRIERE-PLAN */

main::before {
  content: " ";
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  opacity: 0.05;
  background-image: url("../images/amsb_medium.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 60%;
}

/* PLANNING */

main {
  width: 95%;
  margin: auto;
}

.ligne-date {
  font-size: 1.4em;
  color: #58c85f;
  margin-top: 30px;
  margin-bottom: 15px;
}

.rdv {
  font-size: 1.3em;
  padding: 5px 0 0 5px;
}

.rdv:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.heure {
  font-weight: bold;
  color: #d91ffa;
}

.produit-qualite {
  font-weight: bold;
}

.quantite {
  font-weight: bold;
}

.transporteur {
  font-weight: bold;
}

.quantite-unite,
.client,
.transporteur,
.num_commande,
.commentaire {
  margin-left: 2%;
}

hr {
  border: 1px solid #999;
  border-top: none;
  margin: 5px 0px 0px -5px;
  width: 100vw;
}

.rdv:last-child hr {
  visibility: hidden;
}

.bloc-date:last-child {
  margin-bottom: 50px;
}
