:root {
  --couleur-texte-menu: rgb(100, 100, 100);
  --menu-font-family: Arial, Helvetica, sans-serif;
}

#menu-toggle-add {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 8;
}

#menu-toggle i,
#menu-add i {
  color: rgba(0, 0, 0, 0.2);
  font-size: 36px;
}

#menu-toggle:hover,
#menu-add a:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

/* RDV rapides */
#menu-add {
  display: inline-block;
  position: relative;
}

#menu-add:hover > ul {
  display: block;
}

#menu-add ul {
  display: none;
  position: absolute;
  z-index: 9;
  background-color: rgb(230, 230, 230);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu-add li {
  position: relative;
}

#menu-add li:hover {
  background-color: rgb(200, 200, 200);
}

#menu-add li:hover > a {
  color: white;
}

#menu-add li:hover > ul {
  display: block;
}

#menu-add ul a {
  color: black;
  padding: 12px;
  font: bold 12px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

#menu-add ul a:hover {
  background-color: rgb(150, 150, 150);
  color: white;
}

#menu-add ul ul {
  left: 100%;
  top: 0;
  background-color: rgb(200, 200, 200);
}

/******************/

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 7;
  color: var(--couleur-texte-menu);
  font-family: var(--menu-font-family);
  text-transform: uppercase;
  font-size: 12px;
  background: rgb(240, 240, 240);
  display: none;
}

.menu-nav > ul:first-child {
  margin-top: 60px;
}

.menu-nav ul {
  margin-left: 0px;
  padding-left: 10px;
}

.menu-nav li {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.menu-rubrique {
  display: inline-block;
  font-weight: bold;
  height: 25px;
}

.menu-link {
  display: inline-block;
  height: 25px;
  padding: 0;
  color: var(--couleur-texte-menu);
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

nav hr {
  border: 1px solid #ddd;
  border-top: none;
  width: 95%;
  margin: 5px 0px;
}

.UserFooter {
  position: absolute;
  bottom: 20px;
  padding-left: 10px;
  color: var(--couleur-texte-menu);
  font-family: var(--menu-font-family);
  font-size: 12px;
  font-weight: bold;
}

.user-nom {
  margin-bottom: 5px;
}

.user-nom a {
  color: var(--couleur-texte-menu);
  text-decoration: none;
}

.user-nom a:hover {
  text-decoration: underline;
}

.LogoutButton {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--couleur-texte-menu);
  font-family: var(--menu-font-family);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.LogoutButton:hover {
  text-decoration: underline;
}
