@import "../css/awesomplete.css";
@import "../css/commun.css";

@import "../css/formulaire.css";

#marchandises {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#ajouter-marchandise:hover {
  cursor: pointer;
}

#marchandises label::after {
  content: none;
}

.ligne-marchandise {
  align-items: flex-end;
  margin: 5px 0;
  border: 1px solid #333;
}

.ligne-marchandise input,
.ligne-marchandise select {
  width: initial;
}

.ligne-marchandise .poubelle {
  align-self: center;
}

.ligne-marchandise .bloc {
  margin: 0 10px;
}

.ligne-marchandise label {
  text-align: left !important;
}

.nom.bloc {
  vertical-align: bottom;
}

.quantite.type {
  font-weight: bold;
  /* text-align: center; */
}

input[type="checkbox"] {
  vertical-align: middle;
}

input.etx.heure,
input.te {
  width: 120px;
}

@media screen and (max-width: 480px) {
  .ligne-marchandise .bloc {
    padding: 5px 0;
  }
}
