@import "../css/commun.css";

/* GENERAL */

:root {
  --etx-actif-size: 1.1em;
  --etx-actif-weight: bold;
}

body {
  overflow-x: hidden;
}

/* BANDEAU INFO */

.bandeau-info {
  position: sticky;
  top: 0px;
  z-index: 1;
  margin-left: 90px;
  font-size: 1.2em;
}

.ligne-bandeau-info {
  padding: 5px;
}

/* PLANNING */

.escale {
  padding: 10px 0px 0px 20px;
  align-items: center;
}

.escale:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.escale.treguier {
  color: #0d74ba;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.3em;
}

.etx :is(.date, .heure),
.client {
  margin-left: 0.4em;
}

@supports not selector(:is(a, b)) {
  .etx .date,
  .etx .heure,
  .client {
    margin-left: 0.4em;
  }
}

.navire {
  font-size: 1.5em;
}

.voyage {
  color: rgb(100, 100, 100);
  margin-top: 0.7em;
}

.ports.bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.port-quai-escale {
  margin: 5px 0;
  font-weight: bold;
}

.marchandise_nom {
  font-weight: bold;
}

.marchandise .quantite,
.total .quantite {
  margin-left: 10px;
}

:is(.marchandise, .total) .cubage {
  font-style: italic;
}

@supports not selector(:is(a, b)) {
  .marchandise .cubage,
  .total .cubage {
    font-style: italic;
  }
}

.total {
  margin-top: 5px;
}

.commentaire {
  margin-top: 10px;
  margin-left: 30px;
}

hr {
  border: 1px solid #999;
  border-top: none;
  margin: 10px 0px 0px -20px;
  width: 100vw;
}

.escale:last-child hr {
  visibility: hidden;
}

.escale:last-child {
  margin-bottom: 50px;
}

/* Copie-modif-suppr */
.escale:hover .copie-modif-suppr {
  visibility: visible;
}

/* Couleurs suivant statut escale */

.etape {
  display: none;
}

.escale.atsea .eta {
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
}

.escale.arrived {
  background-color: rgba(255, 255, 0, 0.6);
}

.escale.arrived .etb {
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
}

.escale.berthed {
  background-color: rgba(160, 0, 200, 0.8);
}

.escale.berthed,
.escale.berthed .voyage {
  color: #fff;
}

.escale.berthed .ops {
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
}

.escale.inops {
  background-color: rgba(60, 250, 255, 0.6);
}

.escale.inops .etc {
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
}

.escale.completed {
  background-color: rgba(0, 255, 0, 0.6);
}

.escale.completed .etd {
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
}

.escale.departed {
  background-color: rgba(0, 80, 255, 0.8);
}

.escale.departed,
.escale.departed .voyage {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .escale {
    align-items: flex-start;
  }

  .bloc {
    margin: 3px 5px;
  }

  .eta,
  .etb,
  .ops,
  .etc,
  .etd {
    display: none;
  }

  .escale.atsea .eta,
  .escale.arrived .etb,
  .escale.berthed .ops,
  .escale.inops .etc,
  .escale.completed .etd {
    display: inline-block;
  }

  .escale.departed {
    display: none;
  }

  .ports.bloc {
    text-align: left;
  }

  .port,
  .quai {
    display: inline;
  }

  .commentaire {
    margin-left: 0;
  }
}
