/* GENERAL */

:root {
  --etx-actif-size: 1.1rem;
  --etx-actif-weight: normal;
  --etx-actif-transform: uppercase;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#add {
  display: none !important;
}

/* BANDEAU */

.bandeau {
  position: sticky;
  top: 0px;
  z-index: 1;
  margin-left: 60px;
  font-size: 1.2em;
}

.ligne-bandeau {
  padding: 10px;
}

/* PLANNING */

.escale {
  padding: 5px 20px;
  align-items: center;
}

.escale:first-child {
  padding-top: 40px;
}

.escale:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.escale.treguier {
  color: #0d74ba;
}

.bloc {
  margin-left: 10px;
}

.navire {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.voyage {
  color: rgb(100, 100, 100);
}

.armateur {
  display: none;
}

.etx.nom {
  display: none !important;
}

.te.bloc {
  display: none;
}

.ports.bloc {
  text-align: center;
}

.last-port,
.next-port {
  display: none;
}

.port-quai-escale {
  min-height: 50px;
  margin: 5px 0;
  font-weight: normal;
}

.port-quai-escale > div {
  vertical-align: middle;
}

.marchandise_nom {
  font-weight: bold;
}

.marchandise .quantite span {
  padding-right: 10px;
}

.marchandise .cubage {
  font-style: italic;
}

.commentaire {
  display: none;
}

.copie-modif-suppr {
  display: none;
}

hr {
  margin: 0;
}

/* Couleurs suivant statut escale */

.eta,
.etb,
.ops,
.etc,
.etd,
.etape {
  display: none;
}

.escale.atsea .eta {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

.escale.arrived {
  background-color: rgba(255, 255, 0, 0.6);
}

.escale.arrived .sur-rade {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

.escale.berthed {
  background-color: rgba(160, 0, 200, 0.8);
}

.escale.berthed,
.escale.berthed .voyage {
  color: #fff;
}

.escale.berthed .a-quai {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

.escale.inops {
  background-color: rgba(60, 250, 255, 0.6);
}

.escale.inops .en-ops {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

.escale.completed {
  background-color: rgba(0, 255, 0, 0.6);
}

.escale.completed .termine {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

.escale.departed {
  background-color: rgba(0, 80, 255, 0.8);
}

.escale.departed,
.escale.departed .voyage {
  color: #fff;
}

.escale.departed .parti {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

@media screen and (max-width: 480px) {
  .escale {
    align-items: flex-start;
  }

  .bloc {
    margin: 3px 5px;
  }

  .escale.atsea .eta,
  .escale.arrived .sur-rade,
  .escale.berthed .a-quai,
  .escale.inops .en-ops,
  .escale.completed .termine {
    display: inline-block;
  }

  .escale.departed {
    display: none;
  }

  .ports.bloc {
    text-align: left;
  }

  .port,
  .quai {
    display: inline;
  }
}
