/* GENERAL */

:root {
  --etx-actif-size: 1.3rem;
  --etx-actif-weight: normal;
  --etx-actif-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* BANDEAU INFO */

.bandeau-info {
  width: 100vw;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.ligne-bandeau-info {
  padding: 0.5em 1em;
  font-size: 1.5em;
}

/* PLANNING */

.escale {
  font-size: 1.2em;
  padding: 20px 0px 0px 20px;
}

.escale:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.escale.treguier {
  color: #0d74ba;
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.3em;
}

.navire {
  font-size: 1.6em;
}

.voyage {
  color: rgb(100, 100, 100);
  margin-top: 0.7em;
}

.etx.nom {
  display: none !important;
}

.ports.bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.quai {
  font-weight: bold;
  margin: 5px 0;
}

.marchandise span {
  margin-left: 0.7em;
}

.marchandise .cubage {
  font-style: italic;
}

.marchandise_nom {
  font-weight: bold;
}

hr {
  border: 1px solid #999;
  border-top: none;
  margin: 20px 0px 0px -20px;
  width: 100vw;
}

.escale:last-child hr {
  visibility: hidden;
}

/* Couleurs suivant statut escale */

.eta,
.etape {
  display: none;
}

.escale.atsea .eta,
.escale.arrived .sur-rade,
.escale.berthed .a-quai,
.escale.inops .en-ops,
.escale.completed .termine,
.escale.departed .parti {
  display: inline-block;
  font-size: var(--etx-actif-size);
  font-weight: var(--etx-actif-weight);
  text-transform: var(--etx-actif-transform);
}

.escale.arrived {
  background-color: rgba(255, 255, 0, 0.8);
}

.escale.berthed {
  background-color: rgba(160, 0, 200, 0.8);
}

.escale.berthed,
.escale.berthed .voyage {
  color: #fff;
}

.escale.inops {
  background-color: rgba(60, 250, 255, 0.8);
}

.escale.completed {
  background-color: rgba(0, 255, 0, 0.8);
}

.escale.departed {
  background-color: rgba(0, 80, 255, 0.8);
}

.escale.departed,
.escale.departed .voyage {
  color: #fff;
}
