@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

.poubelle {
  display: inline-block;
  vertical-align: middle;
}

.lucide-icon {
  display: inline-block;
}

/* ------------------------------- */

/* Notiflix Block */
.notiflix-block-position {
  min-height: initial !important;
}

[class^="notiflix"] {
  letter-spacing: normal;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .no-mobile {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 768px) {
  .no-desktop {
    display: none;
  }
}
