:root {
  --error-color: rgba(255, 85, 73, 1);
  --input-width: 300px;
}

.formulaire {
  width: 80%;
  margin: auto;
}

h1 {
  margin: 20px 0;
  text-align: center;
}

input,
select {
  padding: 5px;
}

input[type="text"],
input[type="password"],
input:not([type]),
select,
textarea {
  width: var(--input-width);
}

input:invalid {
  border: 2px solid var(--error-color) !important;
}

label.requis::after {
  content: "*";
}

.svelecte-control {
  display: inline-block;
  width: var(--input-width);
}

.pure-form .svelecte-control input[type="text"] {
  border: none;
  box-shadow: none;
}

/* Boutons ajouter/modifier/supprimer des formulaires */

.boutons {
  margin-top: 15px;
  margin-bottom: 100px;
  text-align: center;
}

/* ------------------------------- */

/* Mobile */
@media screen and (max-width: 767px) {
  :root {
    --input-width: 100%;
  }
}

/* Desktop */
@media screen and (min-width: 768px) {
  .formulaire {
    width: 70%;
    margin: auto;
  }
}
