@import "../css/awesomplete.css";
@import "../css/commun.css";

@import "../css/formulaire.css";

.montant {
  /* position: relative; */
}

.montant::after {
  content: "€";
  /* position: absolute; */
}

#ajouter-ligne:hover {
  cursor: pointer;
}

#details {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#details label::after {
  content: none;
}

.ligne-detail {
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px 0;
  background-color: rgb(250, 250, 250);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ligne-detail .poubelle {
  align-self: center;
}

.ligne-detail .bloc {
  margin: 0 10px;
}

.ligne-detail label {
  text-align: left !important;
}

.ligne-detail .quantite {
  width: 90%;
}

input[type="checkbox"] {
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  .ligne-detail .bloc {
    padding: 5px 0;
  }
}
