parameters:
	level: max
	paths:
		- public
		- src
		- tests
		- ./bootstrap.php
		- ./envoi_pdf_auto.php
		- ./execute_schedule.php
	treatPhpDocTypesAsCertain: false
	universalObjectCratesClasses:
		- App\Core\Auth\UserRoles